.wallet-connector__container {
  margin: auto;
  margin-top: 60px;
  background-color: var(--card);
  width: 480px;
  padding: 36px;
  border-radius: 16px;
}

@media screen and (min-width: 600px) {
  .wallet-connector__container {
    width: 552px;
  }
}
@media screen and (max-width: 600px) {
  .wallet-connector__container {
    width: 90%;
  }
}

.wallet-connector__header {
  font-size: 24px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: var(--input-text-color);
}

.wallet-connector__wallet-container {
  list-style: none;
  border: 1px solid var(--input-border);
  border-radius: 12px;
  padding: 0px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 20px;
    color: var(--input-text-color);

    img {
      height: 44px;
      width: 44px;
    }

    span {
      margin-left: 20px;
    }

    svg {
      color: var(--link-text);
      font-size: 16px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--input-border);
    }

    &:first-child {
      border-radius: 12px 12px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 12px 12px;
    }

    &:hover {
      background-color: var(--dropdown-hover);
      cursor: pointer;
    }
  }
}

.wallet-connector__mobile > li:first-child {
  display: none;
}

.wallet-connector__wallet-info {
  display: flex;
  align-items: center;
}

.wallet-connector__suggest {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  color: var(--link-text);
  font-size: 14px;

  span {
    margin-right: 4px;
  }

  a {
    color: var(--link-text);
    font-weight: 600;
  }
}

.wallet-connector__unsupported {
  color: var(--input-text-color);
  text-align: center;
}
