.claimModal__container {
  width: 95%;
  max-width: 450px;
  background-color: var(--card);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 36px;
  border-radius: 12px;
  color: var(--input-text-color);
  position: relative;

  .close {
    position: absolute;
    top: 32px;
    right: 32px;
    color: var(--header-nav-text);
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  h2 {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .claimModal__step {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .stepIcon {
      margin-right: 24px;
      min-height: 48px;
      min-width: 48px;
      border-radius: 100px;
      background: conic-gradient(green 34%, 0, grey 66%);
    }

    .iconContainer {
      position: relative;
      min-height: 48px;
      min-width: 48px;
      margin-right: 24px;
    }

    .iconBackground {
      background: var(--btn-secondary-border);
      min-height: 48px;
      min-width: 48px;
      border-radius: 100px;
      position: absolute;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--card);
      min-height: 42px;
      min-width: 42px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
    }

    .active {
      background: conic-gradient(
        var(--primary-color) 37%,
        0,
        var(--btn-secondary-border) 66%
      );
      animation: spin 1.5s infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .complete {
      background-color: var(--input-text-color);
    }

    .title {
      font-weight: 700;
    }
  }
}
