.illustration-scroller__no-gas {
  background-color: #ff042033;

  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  text-align: left;

  h3 {
    color: var(--input-text-color);
    margin-bottom: 12px;
    margin-top: 0px;
    font-size: 18px;
    span {
      margin-right: 12px;
      font-size: 24px;
    }
  }

  p {
    font-size: 16px !important;
    margin: 0;
    color: var(--input-text-color);
    max-width: 100%;
  }

  button {
    width: 120px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}
.claim__container {
  display: flex;

  .claim__mainContainer {
    width: 100%;
    background-color: var(--card);
    border-radius: 16px;
    box-shadow: var(--claims-shadow);
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    .claim__icon {
      height: 68px;
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      background-color: rgba($color: #ff0420, $alpha: 0.1);
      margin-bottom: 16px;

      svg {
        color: var(--primary-color);
        height: 36px;
        width: 36px;
      }
    }

    h2 {
      font-family: "Rubik";
      font-style: italic;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 16px;
    }

    .claim__description {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      color: var(--header-nav-text);
      margin-bottom: 40px;
    }

    .claim__infoRow {
      padding: 22px 24px;
      border-radius: 12px;
      border: 1px solid var(--btn-secondary-border);
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .infoWrapper {
        display: flex;
        align-items: center;

        .info {
          font-weight: 600;
        }

        .icon {
          margin-left: 12px;
          height: 28px;
          width: 28px;
          border-radius: 100px;
        }
      }
    }
  }

  .claim__sideContainer {
    width: 100%;
    max-width: 360px;
    margin-left: 24px;

    .claim__faqs {
      width: 100%;
      background-color: var(--card);
      border-radius: 16px;
      box-shadow: var(--claims-shadow);

      li:not(:last-child) {
        border-bottom: 1px solid var(--btn-secondary-border);
      }
    }
  }
}

@media (max-width: 900px) {
  .claim__container {
    flex-direction: column;

    .claim__sideContainer {
      margin-left: 0;
      margin-top: 20px;
      max-width: 100%;
    }
  }
}
