@import "../../../index.scss";

      .illustration-scroller__no-gas {
        background-color: #ff042033;

        padding: 20px;
        border-radius: 16px;
        margin-top: 20px;
        text-align: left;

        h3 {
          color: var(--input-text-color);
          margin-bottom: 12px;
          margin-top: 0px;
          font-size: 18px;
          span {
            margin-right: 12px;
            font-size: 24px;
          }
        }

        p {
          font-size: 16px !important;
          margin: 0;
          color: var(--input-text-color);
          max-width: 100%;
        }

        button {
          width: 120px;
          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
      }
.eligibilityCriteria__container {
  padding: 56px;

  @media (max-width: 590px) {
    padding: 24px;
  }

  .illustration-scroller__congrats-content {
    h2 {
      @include titleText;
      line-height: 32px;
    }

    .description {
      margin-top: 16px;
      color: var(--header-nav-text);
      max-width: 100%;
      font-size: 16px;
    }

    .illustration-scroller__ecosystem-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      margin-bottom: 48px;

      a {
        width: fit-content;
        margin-top: 32px;
      }
    }

    // TODO: DELETE THIS
    .testButton {
      margin-top: -30px;
      margin-bottom: 18px;
      border: 4px solid green;
      color: var(--input-text-color);
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 12px;
      padding: 10px;
      transition: 200ms ease all;
      background: none;
      cursor: pointer;
      animation: rainbowText infinite 4s, rainbowBorder infinite 5s;

      @keyframes rainbowText {
        0% {
          color: #e81b56;
          text-shadow: 0 0 5px #e81b56;
        }

        16% {
          color: #ea760f;
          text-shadow: 0 0 5px #ea760f;
        }

        32% {
          color: #ffbf00;
          text-shadow: 0 0 5px #ffbf00;
        }

        48% {
          color: #21dc3a;
          text-shadow: 0 0 5px #21dc3a;
        }

        64% {
          color: #317fff;
          text-shadow: 0 0 5px #317fff;
        }

        80% {
          color: #8b32f4;
          text-shadow: 0 0 5px #8b32f4;
        }

        100% {
          color: #e81b56;
          text-shadow: 0 0 5px #e81b56;
        }
      }

      @keyframes rainbowBorder {
        0% {
          border-color: #e81b56;
          box-shadow: 0 0 5px #e81b56;
        }

        16% {
          border-color: #ea760f;
          box-shadow: 0 0 5px #ea760f;
        }

        32% {
          border-color: #ffbf00;
          box-shadow: 0 0 5px #ffbf00;
        }

        48% {
          border-color: #21dc3a;
          box-shadow: 0 0 5px #21dc3a;
        }

        64% {
          border-color: #317fff;
          box-shadow: 0 0 5px #317fff;
        }

        80% {
          border-color: #8b32f4;
          box-shadow: 0 0 5px #8b32f4;
        }

        100% {
          border-color: #e81b56;
          box-shadow: 0 0 5px #e81b56;
        }
      }
    }

    .illustration-scroller__emoji {
      font-size: 52px;
    }

    .illustration-scroller__amount {
      margin-top: 16px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--btn-secondary-border);
      border-radius: 16px;
      padding: 20px 24px;
      margin-bottom: 48px;

      p {
        margin: 0px;
        font-size: 14px !important;
        color: var(--link-text);
      }

      .illustration-scroller__amount-left {
        > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @media screen and (max-width: 490px) {
            justify-content: center;
          }
          margin-top: 8px;
        }

        img {
          height: 28px;
          width: 28px;
          border-radius: 100px;
          margin-left: 8px;
        }
      }

      button {
        width: fit-content;
        margin: auto;
        margin-right: 0;
      }

      @media screen and (max-width: 590px) {
        flex-direction: column;

        button {
          width: 100%;
          text-align: center;
          margin-top: 12px;
          margin-left: 0;
        }
      }
    }
  }

  .illustration-scroller__eligibility-criteria {
    span {
      color: var(--input-text-color);
      text-align: left;
    }

    .illustration-scroller__criteria-header {
      color: var(--link-text);
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-weight: 600;
        font-size: 16px;
        margin: 0px;
      }

      a {
        color: var(--link-text);
        text-decoration: none;

        svg {
          font-size: 14px;
          margin-left: 8px;
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;

      li {
        display: flex;
        .illustration-scroller__eligibility-row {
          width: 100%;
          display: flex;
          margin-left: 8px;
          @media (max-width: 590px) {
            flex-direction: column;
            align-items: flex-start;
          }
          justify-content: space-between;
          align-items: center;
          .illustration-scroller__eligibility-label {
            display: flex;
            align-items: center;
            color: var(--link-text);

            svg {
              @media (max-width: 490px) {
                display: none;
              }
              font-size: 12px !important;
            }
          }

          .illustration-scroller__eligibility-amount {
            font-family: "PT Mono", monospace !important;
            color: var(--link-text) !important;
            @media (max-width: 490px) {
              margin-top: 6px;
            }
          }
        }

        svg {
          color: var(--link-text);
          display: flex;
          width: 24px;
          align-items: center;
          justify-content: center;
          margin-top: 4px;
        }

        .illustration-scroller__circle-check {
          color: var(--success-600) !important;
          font-size: 16px !important;
        }

        .illustration-scroller__circle {
          margin: auto;
          font-size: 4px !important;
        }

        &:not(:last-of-type) {
          margin-bottom: 12px;
        }
      }

      .illustration-scroller__eligibility-footer {
        border-top: 1px solid var(--btn-secondary-border);
        padding-top: 12px;
        flex-direction: column;
        gap: 12px;

        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .amount {
          color: var(--pill-text) !important;
          font-family: "PT Mono", monospace !important;
          display: flex;
          align-items: center;

          .icon {
            font-size: 12px;
            margin: 0;
            margin-right: 4px;
            color: #f3cf00;
          }
        }
      }
    }
  }
}
