.filterModal__container {
  width: 95%;
  max-width: 450px;
  background-color: var(--card);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 36px;
  border-radius: 12px;
  color: var(--input-text-color);
  position: relative;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--header-nav-text);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  h2 {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .activeFilterBanner {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: var(--body);
    font-size: 14px;
    margin-bottom: 24px;

    .infoWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        color: var(--secondary-600);
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .active {
      font-weight: 600;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .filterModalContainer__dropdownMenu {
    margin-bottom: 24px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    input {
      cursor: pointer;
      margin-right: 8px;
      height: 16px;
      width: 16px;
    }

    label {
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .buttonWrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: -12px;
  }
}
