.optimism-button__container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  color: white !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  margin-top: 32px;
  padding: 0px 24px;
  transition: all ease 200ms;

  &:hover {
    background-color: var(--btn-primary-hovered);
    cursor: pointer;
  }

  &:active {
    background-color: var(--btn-primary-active);
  }
}

.optimism-button__disabled {
  background-color: var(--pill-hover);
  color: var(--link-text) !important;
  cursor: not-allowed;

  &:hover {
    background-color: var(--pill-hover);
    cursor: not-allowed;
  }
}

.optimism-button__secondary {
  color: var(--primary-color) !important;
  background-color: var(--card);
  box-shadow: inset 0px 0px 0px 1px var(--btn-secondary-border);

  &:hover {
    background-color: var(--pill-hover);
  }

  &:active {
    background-color: var(--pill-active);
  }
}

.small {
  font-size: 14px;
  border-radius: 12px;
  padding: 10px 20px;
  height: fit-content;
}

.medium {
  font-size: 16px;
  border-radius: 12px;
  padding: 16px 20px;
  height: fit-content;
}
