.mobileDropdownItem__container {
  display: relative;
}

.mobileDropdownItem__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-decoration: none;
  color: var(--input-text-color);
  padding: 8px 0px;
  width: 100%;

  .link-wrapper {
    display: flex;
    align-items: center;

    .circle-bg {
      height: 40px;
      width: 40px;
      background-color: #ff042033;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      margin-right: 16px;

      svg {
        font-size: 16px;
        color: var(--primary-color);
      }
    }
  }

  .rotate {
    transition: all 200ms ease;
    transform: rotate(90deg);
  }

  .static {
    transform: rotate(0deg);
  }
}

.mobileDropdownItem__dropdown {
  padding-left: 55px;

  .mobile-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 16px;
    background-color: var(--pill-hover);
  }
}
