.mobile-header__container {
  height: 100%;
  padding: 0 24px;
  max-width: 100vw;
}

.mobile-header__inner-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

  svg {
    color: var(--pill-text);
    font-size: 20px;
  }

  &.active {
    color: var(--input-text-color) !important;
  }
}

.mobile-header__header-link {
  color: var(--primary-color);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  font-family: "Rubik", sans-serif !important;
  text-decoration: none;

  &.active {
    color: var(--input-text-color) !important;
  }
}

.mobile-header__times {
  border: 1px solid var(--input-border);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: inherit;
  cursor: pointer;
}

.mobile-header__bars {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  color: var(--input-text-color);
  font-size: 18px;

  .mobile-header__item-first {
    display: flex;
    align-items: center;
    color: var(--input-text-color);

    & > :first-child {
      color: var(--input-text-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--input-border);
      border-radius: 100px;
      height: 40px;
      width: 40px;
      margin-right: 16px;
    }
  }

  .mobile-header__item-second {
    color: var(--link-text);
    background-color: inherit;
    border: none;
    height: 40px;

    .mobile-header__switch {
      margin-top: 8px;
    }

    .mobile-header__chevron {
      font-size: 16px;
      margin-left: 8px;
    }

    span {
      font-size: 18px;
    }
  }
}

.mobile-header__connect {
  text-decoration: none;
}

.mobile-header__sub-menu {
  list-style: none;
  padding: 0px;
  color: var(--pill-text);
  padding-left: 55px;

  svg {
    color: var(--link-text);
    font-size: 16px;
    margin-right: 12px;
  }

  span {
    color: var(--pill-text);
  }

  button {
    background-color: inherit;
    color: var(--pill-text);
    border: none;
    height: 40.5px;
    font-size: 16px;
    padding: 0px;
  }
}
