.accordion__container {
  list-style-type: none;
  font-size: 14px;

  .button {
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--input-text-color);
    text-align: left;
  }

  .icon {
    transition: 200ms ease all;
    color: var(--header-nav-text);
  }

  .flipped {
    transform: rotateZ(-180deg);
  }

  .accordion__answerWrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 300ms;

    .answer {
      padding: 20px 24px;
    }
  }
}
