.external-transaction__container {
  .asset-picker__container {
    border: 1px solid var(--input-border);
    border-radius: 12px;
    height: 40px;
    width: 118px;

    &:hover {
      border: 1px solid var(--hover-border);
    }
  }

  h2 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    color: var(--input-text-color);
    margin-bottom: 4px;
  }
}

.external-transaction__chain-info {
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 16px 20px;
}

.external-transaction__text {
  color: var(--input-text-color);
  font-size: 14px;
  margin-top: 12px;

  section:first-child {
    margin-bottom: 8px;
  }
}
